<section class="mx-auto px-6 pt-5 product-section">
    <h2 class="text-3xl md:text-4xl font-bold text-center text-green-700 mb-12">
        Nuestros Productos
    </h2>

    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
        <div *ngFor="let product of products" class="product-card flex flex-col">

            <div class="relative h-64 w-full flex items-center justify-center transition-colors">
                <img [src]="product.image" [alt]="product.name" class="w-full h-full object-contain" />
            </div>

            <div class="p-6 flex flex-col flex-grow">
                <h3 class="text-xl font-semibold text-green-800 mb-2">
                    {{ product.name }}
                </h3>

                <div class="flex-grow">
                    <div *ngFor="let d of product.descriptions">
                        <p class="text-gray-600 text-sm flex items-start mt-1" [class.py-2]="!d.check">
                            <span *ngIf="d.check" class="text-green-600 mr-2">✔</span>
                            {{ d.text }}
                        </p>
                    </div>
                </div>

                <div class="mt-6">
                    <a [href]="whatsappLink(product.name)" target="_blank" class="whatsapp-product w-full text-center">
                        Consultar por WhatsApp
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>